extends ../base
block title
	| Index page
block main
	section.top-section
		.container
			.row
				.top-section__title.col-12
					h1
						| Алена Дружинина.
					p Предприниматель. Бизнес-тренер. Маркетолог-консультант.
				.top-section__bot-txt.col-12
					p
						| Получите 2 видео «Как найти свою нишу» и «Основные ошибки,
						br
						| которые вы можете сделать при старте бизнеса»,
						br
						| плюс бонус от меня прямо сейчас.
				form
					.top-section__input-wrap
						.col-4
							input(type="text", name="name", placeholder='Введите ваше имя')
						.col-4
							input(type="text", name="email", placeholder='Введите ваш e-mail')
					.col-4
						button(type="submit").main_btn Получить 2 видео и бонус
	// Секция Who am I
	section#who-am-i.who-am-i
		.container
			.title
				h2
					span К
					| то я?
				p
					| Думаю, тот факт, что я более 15 лет в маркетинге и продажах, имею 10 летний опыт управления,
					br
					| и несколько собственных бизнесов за спиной вам ни о чем не скажет.
					br
					| Важно другое - что я могу сделать для вас и как эффективно?
			.row
				.who-am-i__photo.col-xl-6
					img(src=require("../../img/who-am-i__photo.jpg"))
				.who-am-i__txt-wrap.col-xl-6
					h3
						| Я построила несколько бизнесов с нуля и знаю не по наслышке:
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-pie-chart.png"))
						.who-am-i__txt
							p как найти нишу, которая будет тебя вдохновлять;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-handshake.png"))
						.who-am-i__txt
							p как из никому неизвестной компании стать VIP клиентом у нескольких поставщиков сразу;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-store.png"))
						.who-am-i__txt
							p как строить оптовые и розничные продажи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-networking.png"))
						.who-am-i__txt
							p как делегировать часть своих ежедневных управленческих функций сотрудникам;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-target.png"))
						.who-am-i__txt
							p
								| как управлять коллективом более 40 человек, как мотивировать и ставить задачи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-puzzle.png"))
						.who-am-i__txt
							p
								| как найти свою команду и уйти от панибратства, когда в
								| подчинении всего 2 человека;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-browser.png"))
						.who-am-i__txt
							p
								| как разработать продающий сайт, запускать рекламные
								| кампании в интернет;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-steering-earnings.png"))
						.who-am-i__txt
							p
								| как получать отзывы и конвертировать их в продажи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-invoice.png"))
						.who-am-i__txt
							p
								| как собирать базу клиентов и монетизировать ее;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-umbrella.png"))
						.who-am-i__txt
							p
								| как потерять десятки тысяч долларов и не опустить руки;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-steering-wheel.png"))
						.who-am-i__txt
							p
								| как из специалиста, профессионала, стать бизнесменом,
								| и при этом растить 2-х деток (мамам посвящается).
			.row
				.col-12.who-am-i__big-title-img
					img(src=require("../../img/who-am-i__big-title-img.png"))
					.who-am-i__big-title__wrap
						p
							| Весь свой богатый бизнес опыт я аккумулировала и создала онлайн курс
							span «От старта до первых клиентов».
							br
							| Я постоянно повышаю свой уровень, обучаясь как онлайн, так и оффлайн.
							br
							| Прежде всего, я практик, и каждый день, развивая своих клиентов, совершенствую и
							| обогащаю свои знания.
							br
							| Я готова поделиться накопленным опытом и сформированными навыками с вами,
							| рассказать как строю бизнес сама и как это делают мои клиенты.
	// Секция  Author's online courses
	section.authors-online-courses
		.container
			.title
				h2
					span А
					| вторские онлайн-курсы Алены Дружининой

			.authors-online-courses__items
				.authors-online-courses__item
					.row
						.col-xl-5
							.authors-online-courses__item-img
								.authors-online-courses__corner-top.corner-line
									img(src=require("../../img/authors-online-courses__item-topleft.png"))
								.authors-online-courses__corner-bot.corner-line
									img(src=require("../../img/authors-online-courses__item-bot.png"))
								img(src=require("../../img/authors-online-courses__item-img.png"))
						.col-xl-7
							.authors-online-courses__item-txt
								h3 «От старта до первых продаж»
								p
									| Не  буду вам врать и говорить о сверх прибылях, которые вы поучите,
									| если пройдете мой курс, о быстром взлете, ведении успешного бизнеса,
									| уделяя ему всего 2 часа в день. Я расскажу вам правду.
								p
									| Покажу как есть на самом деле. Укажу типичные ошибки.
									| Поэтапно вместе с вами пройду весь путь от поиска ниши, до создания
									| лендинга и первых продаж, дам личные рекомендации о дальнейшем
									| развитии.
								p
									| Конструктивно покритикую,  подбодрю, замотивирую, когда нужно будет.
									| Все остальное вы сделаете сами. И тем ценнее опыт, который вы получите.
								p
									| Минимум теории, максимум практики.
								p
									| Пришло время действовать!  Запусти свой бизнес этой осенью! Запишись
									|  на курс
									span «От старта до первых продаж»
									| и считай свою прибыль уже через
									| 1,5 месяца!
									|
								.authors-online-courses__item-txt-bot-btn
									button.main_btn Записаться на курс
									a(href="#") Узнать подробнее
										img(src=require("../../img/authors-online-courses__item-right-arrow.png"))
				.authors-online-courses__item
					.row
						.col-xl-5.push-xl-7
							.authors-online-courses__item-img
								.authors-online-courses__corner-top.corner-line
									img(src=require("../../img/authors-online-courses__item-topleft.png"))
								.authors-online-courses__corner-bot.corner-line
									img(src=require("../../img/authors-online-courses__item-bot.png"))
								img(src=require("../../img/authors-online-courses__item-img2.png"))
						.col-xl-7.pull-xl-5
							.authors-online-courses__item-txt
								h3 «Вся кухня интернет-маркетинга»
								p
									| Не  буду вам врать и говорить о сверх прибылях, которые вы поучите,
									| если пройдете мой курс, о быстром взлете, ведении успешного бизнеса,
									| уделяя ему всего 2 часа в день. Я расскажу вам правду.
								p
									| Покажу как есть на самом деле. Укажу типичные ошибки.
									| Поэтапно вместе с вами пройду весь путь от поиска ниши, до создания
									| лендинга и первых продаж, дам личные рекомендации о дальнейшем
									| развитии.
								p
									| Конструктивно покритикую,  подбодрю, замотивирую, когда нужно будет.
									| Все остальное вы сделаете сами. И тем ценнее опыт, который вы получите.
								p
									| Минимум теории, максимум практики.
								p
									| Пришло время действовать!  Запусти свой бизнес этой осенью! Запишись
									|  на курс
									span «От старта до первых продаж»
									| и считай свою прибыль уже через
									| 1,5 месяца!
									|
								.authors-online-courses__item-txt-bot-btn
									button.main_btn Записаться на курс
									a(href="#") Узнать подробнее
										img(src=require("../../img/authors-online-courses__item-right-arrow.png"))
				.authors-online-courses__item
					.row
						.col-xl-5
							.authors-online-courses__item-img
								.authors-online-courses__corner-top.corner-line
									img(src=require("../../img/authors-online-courses__item-topleft.png"))
								.authors-online-courses__corner-bot.corner-line
									img(src=require("../../img/authors-online-courses__item-bot.png"))
								img(src=require("../../img/authors-online-courses__item-img3.png"))
						.col-xl-7
							.authors-online-courses__item-txt
								h3 «Хороший клев не обеспечит улов. Школа продаж»
								p
									| Не  буду вам врать и говорить о сверх прибылях, которые вы поучите,
									| если пройдете мой курс, о быстром взлете, ведении успешного бизнеса,
									| уделяя ему всего 2 часа в день. Я расскажу вам правду.
								p
									| Покажу как есть на самом деле. Укажу типичные ошибки.
									| Поэтапно вместе с вами пройду весь путь от поиска ниши, до создания
									| лендинга и первых продаж, дам личные рекомендации о дальнейшем
									| развитии.
								p
									| Конструктивно покритикую,  подбодрю, замотивирую, когда нужно будет.
									| Все остальное вы сделаете сами. И тем ценнее опыт, который вы получите.
								p
									| Минимум теории, максимум практики.
								p
									| Пришло время действовать!  Запусти свой бизнес этой осенью! Запишись
									|  на курс
									span «От старта до первых продаж»
									| и считай свою прибыль уже через
									| 1,5 месяца!
									|
								.authors-online-courses__item-txt-bot-btn
									button.main_btn Записаться на курс
									a(href="#") Узнать подробнее
										img(src=require("../../img/authors-online-courses__item-right-arrow.png"))

	// Секция  department-for-rent
	section.department-for-rent
		.container
			.row
				.department-for-rent__inner-block
					h2 Возьмите наш отдел маркетинга в оренду!
	// Секция  our-knowledge-is-working-for-you
	section.our-knowledge-is-working-for-you
		.container
			.title
				h2
					span Х
					| отите, чтобы наш богатый опыт и знания работали на вас?
				p
					| За долгие 15 лет в маркетинге, продажах и бизнесе я не только получила колоссальный опыт,
					br
					| я еще и обзавелась огромной базой подрядчиков, проверенных в работе и полученных результатах,
					br
					| собрала команду «молодых и голодных» специалистов. Каждый профи в своей теме.
					br
					| Хотите, чтобы наш богатый опыт и знания в маркетинге работали на вас?
			.row
				.col-12.who-am-i__big-title-img
					img(src=require("../../img/who-am-i__big-title-img.png"))
					.who-am-i__big-title__wrap
						p
							|     Возьмите наш отдел маркетинга в аренду, а время и деньги, которые вы раньше
							| тратили на управление собственным отделом маркетинга, вложите в развитие своей
							| компании/бренда.
	// Секция Who am I 2
	section#who-am-i2.who-am-i
		.container
			.row
				.who-am-i__photo.col-xl-6.push-xl-6
					img(src=require("../../img/who-am-i__photo2.jpg"))
				.who-am-i__txt-wrap.col-xl-6.pull-xl-6
					h3
						| Возьмите наш отдел маркетинга в аренду, и вы…
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-team.png"))
						.who-am-i__txt
							p
								| економите, ненужно больше нанимать в штат на
								| постоянную работу кучу сотрудников и платить за них
								| налоги, оплачивать больничные и декретный отпуск;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-search.png"))
						.who-am-i__txt
							p
								| точечно, под конкретную задачу приглашаете нужных в
								| данный момент специалистов;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-idea.png"))
						.who-am-i__txt
							p
								| перестаете думать о том, как выстраивать взаимоотношения
								| в коллективе, мотивировать сотрудников;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-shirt.png"))
						.who-am-i__txt
							p
								| прячете свое сито, через которое раньше отсеивали
								| кандидатов, забудете про испытательный срок для нового
								| маркетолога и тестовом задании для smm-специалиста;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-gear.png"))
						.who-am-i__txt
							p
								| оберегаете себя от ошибок и финансовых потерь, которые
								| допускают «зеленые» кадры;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-summary.png"))
						.who-am-i__txt
							p
								| забываете, что есть такая статья расходов «обучение
								| сотрудников отдела маркетинга»;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-director-desk.png"))
						.who-am-i__txt
							p
								| перестанете задаваться вопросом: «а что все эти сотрудники
								| отдела маркетинга там делают?».


	// Секция  info-block
	section.info-block
		.container
			.row
				p
					| Все работу по поиску, отсеиванию, тестированию и обучению специалистов отдела маркетинга мы уже сделали,
					| вам же предлагаем только все самое ценное и нужное. Возьмите наш отдел маркетинга в аренду
					| и получайте запланированный результат уже сегодня! Воспользуйтесь одним из предложенных пакетных решений.
	// Секция  rates
	section.rates
		.container
			.table-rates-wrap
				table.table-rates
					thead
						tr
							th
							th На старте
							th.empty
							th Быстрое развитие
							th.empty
							th Плацдарм для амбиций
					tbody
						tr.empty
							td
							td.gray
							td.empty
							td
							td.empty
							td.gray
						tr
							td Маркетинговый экспресс-анализ
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td SWOT-анализ
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Разработка стратегии развития компании/личного бренда
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td План-маркетинга
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Формирование бюджета маркетинга компании/личного бренда
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Разработка логотипа или его обновление
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Разработка фирменного стиля
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Разработка лендинга
							td.gray
								i.fa 
							td.empty
							td
							td.empty
							td.gray
						tr
							td Разработка сайта
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск страницы в FB и ее ведение

							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск страницы в Instagram и ее ведение

							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск канала на You Tube
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Ведение канала на You Tube
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск рекламной кампании в Google
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск рекламной кампании в FB
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск рекламной кампании в Instagram
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Конкурсы, коллаборации, лайф видео и прочие инструменты продвижения в соцсетях.
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Видеопродакшн
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Оффлайн реклама (наружка, СМИ, радио, ТВ)
							td.gray
							td.empty
							td
							td.empty
							td.gray
								i.fa 
						tr
							td Конференции, тренинги - организация и проведение
							td.gray
							td.empty
							td
							td.empty
							td.gray
								i.fa 
						tr
							td Организация участия в выставках
							td.gray
							td.empty
							td
							td.empty
							td.gray
								i.fa 
						tr
							td Проведение встреч дилеров/клиентов
							td.gray
							td.empty
							td
							td.empty
							td.gray
								i.fa 
						tr
							td Цена в месяц (минимум 3 месяца)*
							td.gray.bold
								| 10000
							td.empty
							td.bold
								| 26000
							td.empty
							td.gray.bold
								| 49000
						tr
							td
								|  *цена включает в себя работу проект-менеджера и маркетолога, постановку и
								| контроль работы узких специалистов, разработку стратегии развития, написание
								| плана-маркетинга, формирование бюджета, его защиту, утверждение, внедрение
								| и отчетность.
								|
							td.gray
							td.empty
							td.regular
								| Оптимальный тариф
							td.empty
							td.gray
						tr.empty
							td
							td.gray
							td.empty
							td
							td.empty
							td.gray
						tr.empty.small
							td
							td
							td.empty
							td
							td.empty
							td
						tr
							td(colspan="6" class="big")
								div
									h3 Пакет «Индивидуальный»
									p
										| Мы готовы предложить вам тот набор маркетинговых действий, который вам необходим в данный момент,
										br
										| ни больше, ни меньше. Выбирайте индивидуальный подход, если ни один из пакетов вам не подходит.
						tr
							td(colspan="6" class="center")
								a(href="#" class="main_btn") Подробне
	// Секция  intermediate
	section.intermediate
		.container
			.title
				h2
					span C
					| омневаетесь? Хотите проверить уровень нашей компетенции?
					br
					| Готовы провести аудит вашего сайта/лендинга бесплатно
			.intermediate_wrap
				form
					.row
						.intermediate_item.col-xl-4.col-lg-4.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='name', type='text', placeholder='Введите ваше имя')
						.intermediate_item.col-xl-4.col-lg-4.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='email', type='text', placeholder='Введите ваш e-mail')
						.intermediate_item.col-xl-4.col-lg-4.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='websiteAddress', type='text', placeholder='Введите адрес сайта')
						input(type='hidden', name='form_name', value='')
						input(type='hidden', name='form_type', value='normal')
						.intermediate_item.col-xl-4
							input(type='submit', value='Получить аудит сайта бесплатно', class='main_btn')
	// Секция  video-on-YouTube
	section.video-on-YouTube
		.container
			.title
				h2
					span M
					| ного полезного вы можете узнать из моих видео,
					br
					| которые я размещаю на YouTube
				p
					| Рекомендую подписаться на мой канал в YouTube, чтобы не пропустить выход новых видеороликов.
			.video-on-YouTube__wrap-video
				iframe(width="100%" src="https://www.youtube.com/embed/EkjHRkX5lZA?showinfo=0" frameborder="0" allowfullscreen)
			.conference-for-internet-marketing
				.row
					.col-xl-6
						.conference-for-internet-marketing__text
							h3 Конференция по интернет-маркетингу
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
								| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								| aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen
								| derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							p
								| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
								| officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
								| omnis iste natus error sit voluptatem accusantium doloremque
								| laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
								| veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
								| enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
								| sed quia consequuntur magni dolores eos qui ratione voluptatem
								| sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
								| dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
								| modi tempora incidunt ut labore et dolore magnam aliquam quaerat
								| voluptatem.
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
								| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								| aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen
								| derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							p
								| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
								| officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
								| omnis iste natus error sit voluptatem accusantium doloremque
								| laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
								| veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
								| enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
								| sed quia consequuntur magni dolores eos qui ratione voluptatem
								| sequi nesciunt.
							.conference-for-internet-marketing__text-button
								button(type="text" class="main_btn") Записаться
								a(href="#") Читать подробнее
									img(src=require("../../img/authors-online-courses__item-right-arrow.png"))
					.col-xl-6
						.conference-for-internet-marketing__img
						.row
							.col-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img.jpg"))
							.col-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img2.jpg"))
							.col-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img3.jpg"))
							.col-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img4.jpg"))
							.col-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img5.jpg"))
							.col-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img6.jpg"))
	// Секция  my services
	section.my-services
		.container
			.title
				h2
					span M
					| ои услуги
			.row
				.col-xl-4
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-pantone.png"))
						.my-services__item-txt
							h3 Личный бренд
							p
								| Ваш опыт и знания должны работать, приносить вам деньги. Я знаю, как конвертировать ваши профессиональные навыки специалиста и сделать из вас востребованного эксперта.
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img2.png"))
						.my-services__item-txt
							h3 Разработка сайта
							p
								| Сайт/лендинг под ключ. Определим целевую аудиторию, выявим болевые точки клиента, пропишем тексты, разработаем дизайн, расставим акценты, сверстаем, протестируем и запустим в жизнь.
							a(href="#") Читать подробнее
								img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img3.png"))
						.my-services__item-txt
							h3 Видео продакшн
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img4.png"))
						.my-services__item-txt
							h3
								| Разработка торговой марки и
								| выведение ее на рынок
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img5.png"))
						.my-services__item-txt
							h3
								| Разработка торговой марки и
								| выведение ее на рынок
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))

				.col-xl-4
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img6.png"))
						.my-services__item-txt
							h3
								| Разработка торговой марки и
								| выведение ее на рынок
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img7.png"))
						.my-services__item-txt
							h3
								| Разработка торговой марки и
								| выведение ее на рынок
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img8.png"))
						.my-services__item-txt
							h3
								| Разработка торговой марки и
								| выведение ее на рынок
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img9.png"))
						.my-services__item-txt
							h3
								| Разработка торговой марки и
								| выведение ее на рынок
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
	// Секция  our-advantages
	section#our_advantages.our-advantages
		.container
			.our-advantages__title
				h2 Наши преимущества
				img(src=require("../../img/garant.svg"))
			.row
				.our-advantages__item.col-lg-4.col-md-6
					.our-advantages__img
						i.fa.fa-users
					h3 Заголовок
					p Индивидуальный подход к каждому клиенту
				.our-advantages__item.col-lg-4.col-md-6
					.our-advantages__img
						i.fa.fa-diamond
					h3 Заголовок
					p Неповторимость и практичность каждого проекта мебели
				.our-advantages__item.col-lg-4.col-md-6
					.our-advantages__img
						i.fa.fa-list-ol
					h3 Заголовок
					p Многообразие материалов и стилевых решений
				.our-advantages__item.col-lg-4.col-md-6
					.our-advantages__img
						i.fa.fa-pencil
					h3 Заголовок
					p Для вас бесплатно: замер, дизайн-проект, доставка и монтаж
				.our-advantages__item.col-lg-4.col-md-6
					.our-advantages__img
						i.fa.fa-credit-card-alt
					h3 Заголовок
					p Возможность оформления мебели в кредит
				.our-advantages__item.col-lg-4.col-md-6
					.our-advantages__img
						i.fa.fa-wrench
					h3 Заголовок
					p Изготовление мебели только из высококачественных материалов
	// Секция main_content
	section.main_content
		.container
			h2 Слайдер
			.owl-carousel.owl-theme
				.item
					h3 Слайдер 1
				.item
					h3 Слайдер 2
			div Пример checkbox
			label.check.noselect
				input(type='checkbox')
				i.fa.fa-1.fa-square-o
				i.fa.fa-2.fa-check-square-o
				span первый чек
			label.check.noselect
				input(type='checkbox')
				i.fa.fa-1.fa-square-o
				i.fa.fa-2.fa-check-square-o
				span второй чек
			div Пример radio button
			label.radio.noselect
				input(type='radio', name='radio')
				i.fa.fa-1.fa-square-o
				i.fa.fa-2.fa-check-square-o
				span первый чек
			label.radio.noselect
				input(type='radio', name='radio', checked='')
				i.fa.fa-1.fa-square-o
				i.fa.fa-2.fa-check-square-o
				span второй чек
			h3 Пример Select на плагине Select2
				h4 с тегами
				.select2-container
					select.select2-tags.form-control(multiple)
						option angular
						option react
						option vui
						option(disabled) ember
						option backbone
				h4 обычный
				.select2-container
					select.select2
						option angular
						option react
						option vui
						option(disabled) ember
						option backbone
	// Секция  ask-form-title
	section.intermediate
		.container
			.intermediate_title
				h3 Заполните форму и мы бесплатно перезвоним и ответим на ваши вопросы
			.intermediate_wrap
				form#form-file.clearfix
					.file_wrap
						input(type='file' name='field' multiple)
					.row
						.intermediate_item.col-lg-3.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='name', type='text', placeholder='Имя')
						.intermediate_item.col-lg-3.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='email', type='text', placeholder='Почта')
						.intermediate_item.col-lg-3.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='phone', type='text', placeholder='Телефон')
						input(type='hidden', name='form_name', value='')
						input(type='hidden', name='form_type', value='normal')
						.intermediate_item.col-lg-3
							input(type='submit', value='Записаться')
			h3 Пример табов с вложенностью ещё одного таба
			.tabs-items-wrap
				button.main_btn.tabs-item.active Мужские размеры
				button.main_btn.tabs-item Женские размеры
			.tabs-wrap.active
				p.
					Lorem ipsum dolor sit amet, an eam simul albucius. An ius duis aeque suscipit, ius ullum suscipit eu. Detracto ponderum pertinacia ei his, nonumy omnium adipisci nec ei, ea ludus dictas fuisset qui.
			.tabs-wrap
				p.
					Persius volumus est cu! Ad populo erroribus sed. Timeam legimus maiorum usu te, civibus detracto at vel. Accusata lobortis in sed, et tempor saperet qui. Eu timeam salutandi quaerendum his.
				h4 Вложенный таб
				.tabs-items-wrap-inner
					button.main_btn.tabs-item.active Мужские размеры 2
					button.main_btn.tabs-item Женские размеры 2
					.tabs-wrap-inner.active
						p Detracto ponderum pertinacia ei his, nonumy omnium adipisci nec ei, ea ludus dictas fuisset qui.
					.tabs-wrap-inner
						p Accusata lobortis in sed, et tempor saperet qui. Eu timeam salutandi quaerendum his.


