extends ../base
block title
	| Index page
block main
	section.top-section
		.video-wrapper
			video(poster='../../img/header_bg.jpg', autoplay='autoplay', loop='loop', preload='metadata', muted="muted")
				source(src=require('../../img/ad_.mp4'), type='video/mp4')
				source(src=require('../../img/ad_.webm'), type='video/webm')
		.container
			.row
				.top-section__title.col-12
					h1
						| Алена Дружинина.
					p Предприниматель. Бизнес-тренер. Маркетолог-консультант.
				.top-section__bot-txt.col-12
					p
						| Получите 2 видео «Как найти свою нишу» и «Основные ошибки,
						br
						| которые вы можете сделать при старте бизнеса»,
						br
						| плюс бонус от меня прямо сейчас.
				form
					.top-section__input-wrap
						.col-8.col-sm-7.col-md-4
							input(type="text", name="name", placeholder='Введите ваше имя')
						.col-8.col-sm-7.col-md-4
							input(type="email", name="email", placeholder='Введите ваш e-mail')
					input(type='hidden', name='form_name', value='')
					input(type='hidden', name='form_type', value='normal')
					.col-8.col-sm-7.col-md-4.col-lg-4.col-xl-4
						button(type="submit").main_btn Получить 2 видео и бонус
	// Секция Who am I
	section#who-am-i.who-am-i
		.container
			.title
				h2
					span К
					| то я?
				p
					| Думаю, тот факт, что я более 15 лет в маркетинге и продажах, имею 10 летний опыт управления,
					br
					| и несколько собственных бизнесов за спиной вам ни о чем не скажет.
					br
					| Важно другое - что я могу сделать для вас и как эффективно?
			.row
				.who-am-i__photo.col-xl-6
					img(src=require("../../img/who-am-i__photo.jpg"))
				.who-am-i__txt-wrap.col-xl-6
					h3
						| Я построила несколько бизнесов с нуля и знаю не по наслышке:
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-pie-chart.png"))
						.who-am-i__txt
							p как найти нишу, которая будет тебя вдохновлять;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-handshake.png"))
						.who-am-i__txt
							p как из никому неизвестной компании стать VIP клиентом у нескольких поставщиков сразу;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-store.png"))
						.who-am-i__txt
							p как строить оптовые и розничные продажи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-networking.png"))
						.who-am-i__txt
							p как делегировать часть своих ежедневных управленческих функций сотрудникам;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-target.png"))
						.who-am-i__txt
							p
								| как управлять коллективом более 40 человек, как мотивировать и ставить задачи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-puzzle.png"))
						.who-am-i__txt
							p
								| как найти свою команду и уйти от панибратства, когда в
								| подчинении всего 2 человека;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-browser.png"))
						.who-am-i__txt
							p
								| как разработать продающий сайт, запускать рекламные
								| кампании в интернет;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-steering-earnings.png"))
						.who-am-i__txt
							p
								| как получать отзывы и конвертировать их в продажи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-invoice.png"))
						.who-am-i__txt
							p
								| как собирать базу клиентов и монетизировать ее;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-umbrella.png"))
						.who-am-i__txt
							p
								| как потерять десятки тысяч долларов и не опустить руки;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-steering-wheel.png"))
						.who-am-i__txt
							p
								| как из специалиста, профессионала, стать бизнесменом,
								| и при этом растить 2-х деток (мамам посвящается).
			.row
				.col-12.who-am-i__big-title-img
					img(src=require("../../img/who-am-i__big-title-img.png") class="img-fluid")
					.who-am-i__big-title__wrap
						p
							| Весь свой богатый бизнес опыт я аккумулировала и создала онлайн курс
							span «От старта до первых клиентов».
							br
							| Я постоянно повышаю свой уровень, обучаясь как онлайн, так и оффлайн.
							br
							| Прежде всего, я практик, и каждый день, развивая своих клиентов, совершенствую и
							| обогащаю свои знания.
							br
							| Я готова поделиться накопленным опытом и сформированными навыками с вами,
							| рассказать как строю бизнес сама и как это делают мои клиенты.
	// Секция  Author's online courses
	section.authors-online-courses
		.container
			.title
				h2
					span А
					| вторские онлайн-курсы Алены Дружининой

			.authors-online-courses__items
				.authors-online-courses__item
					.row
						.col-xl-5
							.authors-online-courses__item-img
								.authors-online-courses__corner-top.corner-line
									img(src=require("../../img/authors-online-courses__item-topleft.png"))
								.authors-online-courses__corner-bot.corner-line
									img(src=require("../../img/authors-online-courses__item-bot.png"))
								img(src=require("../../img/authors-online-courses__item-img.png") class="img-fluid")
						.col-xl-7
							.authors-online-courses__item-txt
								h3 «От старта до первых продаж»
								p
									| Не  буду вам врать и говорить о сверх прибылях, которые вы поучите,
									| если пройдете мой курс, о быстром взлете, ведении успешного бизнеса,
									| уделяя ему всего 2 часа в день. Я расскажу вам правду.
								p
									| Покажу как есть на самом деле. Укажу типичные ошибки.
									| Поэтапно вместе с вами пройду весь путь от поиска ниши, до создания
									| лендинга и первых продаж, дам личные рекомендации о дальнейшем
									| развитии.
								p
									| Конструктивно покритикую,  подбодрю, замотивирую, когда нужно будет.
									| Все остальное вы сделаете сами. И тем ценнее опыт, который вы получите.
								p
									| Минимум теории, максимум практики.
								p
									| Пришло время действовать!  Запусти свой бизнес этой осенью! Запишись
									|  на курс
									span «От старта до первых продаж»
									| и считай свою прибыль уже через
									| 1,5 месяца!
									|
								.authors-online-courses__item-txt-bot-btn
									button.main_btn Записаться на курс
									a(href="#") Узнать подробнее
										img(src=require("../../img/authors-online-courses__item-right-arrow.png"))
				//.authors-online-courses__item
					.row
						.col-xl-5.push-xl-7
							.authors-online-courses__item-img
								.authors-online-courses__corner-top.corner-line
									img(src=require("../../img/authors-online-courses__item-topleft.png"))
								.authors-online-courses__corner-bot.corner-line
									img(src=require("../../img/authors-online-courses__item-bot.png"))
								img(src=require("../../img/authors-online-courses__item-img2.png") class="img-fluid")
						.col-xl-7.pull-xl-5
							.authors-online-courses__item-txt
								h3 «Вся кухня интернет-маркетинга»
								p
									| Не  буду вам врать и говорить о сверх прибылях, которые вы поучите,
									| если пройдете мой курс, о быстром взлете, ведении успешного бизнеса,
									| уделяя ему всего 2 часа в день. Я расскажу вам правду.
								p
									| Покажу как есть на самом деле. Укажу типичные ошибки.
									| Поэтапно вместе с вами пройду весь путь от поиска ниши, до создания
									| лендинга и первых продаж, дам личные рекомендации о дальнейшем
									| развитии.
								p
									| Конструктивно покритикую,  подбодрю, замотивирую, когда нужно будет.
									| Все остальное вы сделаете сами. И тем ценнее опыт, который вы получите.
								p
									| Минимум теории, максимум практики.
								p
									| Пришло время действовать!  Запусти свой бизнес этой осенью! Запишись
									|  на курс
									span «От старта до первых продаж»
									| и считай свою прибыль уже через
									| 1,5 месяца!
									|
								.authors-online-courses__item-txt-bot-btn
									button.main_btn Записаться на курс
									a(href="#") Узнать подробнее
										img(src=require("../../img/authors-online-courses__item-right-arrow.png"))
				//.authors-online-courses__item
					.row
						.col-xl-5
							.authors-online-courses__item-img
								.authors-online-courses__corner-top.corner-line
									img(src=require("../../img/authors-online-courses__item-topleft.png"))
								.authors-online-courses__corner-bot.corner-line
									img(src=require("../../img/authors-online-courses__item-bot.png"))
								img(src=require("../../img/authors-online-courses__item-img3.png") class="img-fluid")
						.col-xl-7
							.authors-online-courses__item-txt
								h3 «Хороший клев не обеспечит улов. Школа продаж»
								p
									| Не  буду вам врать и говорить о сверх прибылях, которые вы поучите,
									| если пройдете мой курс, о быстром взлете, ведении успешного бизнеса,
									| уделяя ему всего 2 часа в день. Я расскажу вам правду.
								p
									| Покажу как есть на самом деле. Укажу типичные ошибки.
									| Поэтапно вместе с вами пройду весь путь от поиска ниши, до создания
									| лендинга и первых продаж, дам личные рекомендации о дальнейшем
									| развитии.
								p
									| Конструктивно покритикую,  подбодрю, замотивирую, когда нужно будет.
									| Все остальное вы сделаете сами. И тем ценнее опыт, который вы получите.
								p
									| Минимум теории, максимум практики.
								p
									| Пришло время действовать!  Запусти свой бизнес этой осенью! Запишись
									|  на курс
									span «От старта до первых продаж»
									| и считай свою прибыль уже через
									| 1,5 месяца!
									|
								.authors-online-courses__item-txt-bot-btn
									button.main_btn Записаться на курс
									a(href="#") Узнать подробнее
										img(src=require("../../img/authors-online-courses__item-right-arrow.png"))

	// Секция  department-for-rent
	section.department-for-rent
		.container
			.row
				.department-for-rent__inner-block
					h2 Возьмите наш отдел маркетинга в оренду!
	// Секция  our-knowledge-is-working-for-you
	section.our-knowledge-is-working-for-you
		.container
			.title
				h2
					span Х
					| отите, чтобы наш богатый опыт и знания работали на вас?
				p
					| За долгие 15 лет в маркетинге, продажах и бизнесе я не только получила колоссальный опыт,
					br
					| я еще и обзавелась огромной базой подрядчиков, проверенных в работе и полученных результатах,
					br
					| собрала команду «молодых и голодных» специалистов. Каждый профи в своей теме.
					br
					| Хотите, чтобы наш богатый опыт и знания в маркетинге работали на вас?
			.row
				.col-12.who-am-i__big-title-img
					img(src=require("../../img/who-am-i__big-title-img.png"))
					.who-am-i__big-title__wrap
						p
							|     Возьмите наш отдел маркетинга в аренду, а время и деньги, которые вы раньше
							| тратили на управление собственным отделом маркетинга, вложите в развитие своей
							| компании/бренда.
	// Секция Who am I 2
	section#who-am-i2.who-am-i
		.container
			.row
				.who-am-i__photo.col-xl-6.push-xl-6
					img(src=require("../../img/who-am-i__photo2.jpg"))
				.who-am-i__txt-wrap.col-xl-6.pull-xl-6
					h3
						| Возьмите наш отдел маркетинга в аренду, и вы…
					.who-am-i__txt-item.margin_b
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-team.png"))
						.who-am-i__txt
							p
								| економите, ненужно больше нанимать в штат на
								| постоянную работу кучу сотрудников и платить за них
								| налоги, оплачивать больничные и декретный отпуск;
					.who-am-i__txt-item.margin_b
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-search.png"))
						.who-am-i__txt
							p
								| точечно, под конкретную задачу приглашаете нужных в
								| данный момент специалистов;
					.who-am-i__txt-item.margin_b
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-idea.png"))
						.who-am-i__txt
							p
								| перестаете думать о том, как выстраивать взаимоотношения
								| в коллективе, мотивировать сотрудников;
					.who-am-i__txt-item.margin_b
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-shirt.png"))
						.who-am-i__txt
							p
								| прячете свое сито, через которое раньше отсеивали
								| кандидатов, забудете про испытательный срок для нового
								| маркетолога и тестовом задании для smm-специалиста;
					.who-am-i__txt-item.margin_b
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-gear.png"))
						.who-am-i__txt
							p
								| оберегаете себя от ошибок и финансовых потерь, которые
								| допускают «зеленые» кадры;
					.who-am-i__txt-item.margin_b
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-summary.png"))
						.who-am-i__txt
							p
								| забываете, что есть такая статья расходов «обучение
								| сотрудников отдела маркетинга»;
					.who-am-i__txt-item.margin_b
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-director-desk.png"))
						.who-am-i__txt
							p
								| перестанете задаваться вопросом: «а что все эти сотрудники
								| отдела маркетинга там делают?».


	// Секция  info-block
	section.info-block
		.container
			.row
				p
					| Все работу по поиску, отсеиванию, тестированию и обучению специалистов отдела маркетинга мы уже сделали,
					| вам же предлагаем только все самое ценное и нужное. Возьмите наш отдел маркетинга в аренду
					| и получайте запланированный результат уже сегодня! Воспользуйтесь одним из предложенных пакетных решений.
	// Секция  rates
	section.rates
		.container
			.table-rates-wrap
				table.table-rates
					thead
						tr
							th
								p.table-rates__hidden Листайте таблицу
									img(src=require("../../img/authors-online-courses__item-right-arrow.png"))
							th На старте
							th.empty
							th Быстрое развитие
							th.empty
							th Плацдарм для амбиций
					tbody
						tr.empty
							td
							td.gray
							td.empty
							td
							td.empty
							td.gray
						tr
							td Маркетинговый экспресс-анализ
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td SWOT-анализ
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Разработка стратегии развития компании/личного бренда
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td План-маркетинга
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Формирование бюджета маркетинга компании/личного бренда
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Разработка логотипа или его обновление
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Разработка фирменного стиля
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Разработка лендинга
							td.gray
								i.fa 
							td.empty
							td
							td.empty
							td.gray
						tr
							td Разработка сайта
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск страницы в FB и ее ведение

							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск страницы в Instagram и ее ведение

							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск канала на You Tube
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Ведение канала на You Tube
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск рекламной кампании в Google
							td.gray
								i.fa 
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск рекламной кампании в FB
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Запуск рекламной кампании в Instagram
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Конкурсы, коллаборации, лайф видео и прочие инструменты продвижения в соцсетях.
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Видеопродакшн
							td.gray
							td.empty
							td
								i.fa 
							td.empty
							td.gray
								i.fa 
						tr
							td Оффлайн реклама (наружка, СМИ, радио, ТВ)
							td.gray
							td.empty
							td
							td.empty
							td.gray
								i.fa 
						tr
							td Конференции, тренинги - организация и проведение
							td.gray
							td.empty
							td
							td.empty
							td.gray
								i.fa 
						tr
							td Организация участия в выставках
							td.gray
							td.empty
							td
							td.empty
							td.gray
								i.fa 
						tr
							td Проведение встреч дилеров/клиентов
							td.gray
							td.empty
							td
							td.empty
							td.gray
								i.fa 
						tr
							td Цена в месяц (минимум 3 месяца)*
							td.gray.bold
								| 10000
							td.empty
							td.bold
								| 26000
							td.empty
							td.gray.bold
								| 49000
						tr
							td
								|  *цена включает в себя работу проект-менеджера и маркетолога, постановку и
								| контроль работы узких специалистов, разработку стратегии развития, написание
								| плана-маркетинга, формирование бюджета, его защиту, утверждение, внедрение
								| и отчетность.
								|
							td.gray
							td.empty
							td.regular
								| Оптимальный тариф
							td.empty
							td.gray
						tr.empty
							td
							td.gray
							td.empty
							td
							td.empty
							td.gray
						tr.empty.small
							td
							td
							td.empty
							td
							td.empty
							td
						tr
							td(colspan="6" class="big")
								div
									h3 Пакет «Индивидуальный»
									p
										| Мы готовы предложить вам тот набор маркетинговых действий, который вам необходим в данный момент,
										br
										| ни больше, ни меньше. Выбирайте индивидуальный подход, если ни один из пакетов вам не подходит.
						tr
							td(colspan="6" class="center")
								a(href="#" class="main_btn") Подробне
	// Секция  intermediate
	section.intermediate
		.container
			.title
				h2
					span C
					| омневаетесь? Хотите проверить уровень нашей компетенции?
					br
					| Готовы провести аудит вашего сайта/лендинга бесплатно
			.intermediate_wrap
				form
					.row
						.intermediate_item.col-xl-4.col-lg-4.col-md-6.col-sm-12
							.input_wrap
								i.fa.fa-check
								input(name='name', type='text', placeholder='Введите ваше имя')
						.intermediate_item.col-xl-4.col-lg-4.col-md-6.col-sm-12
							.input_wrap
								i.fa.fa-check
								input(name='email', type='email', placeholder='Введите ваш e-mail')
						.intermediate_item.col-xl-4.col-lg-4.col-md-6.col-sm-12
							.input_wrap
								i.fa.fa-check
								input(name='websiteAddress', type='text', placeholder='Введите адрес сайта')
						input(type='hidden', name='form_name', value='')
						input(type='hidden', name='form_type', value='normal')
						.intermediate_item.col-xl-4.col-lg-8.col-md-8.col-sm-12
							input(type='submit', value='Получить аудит сайта бесплатно', class='main_btn')
	// Секция  video-on-YouTube
	section.video-on-YouTube
		.container
			.title
				h2
					span M
					| ного полезного вы можете узнать из моих видео,
					br
					| которые я размещаю на YouTube
				p
					| Рекомендую подписаться на мой канал в YouTube, чтобы не пропустить выход новых видеороликов.
			.video-on-YouTube__wrap-video
				iframe(width="100%" src="https://www.youtube.com/embed/EkjHRkX5lZA?showinfo=0" frameborder="0" allowfullscreen)
			.conference-for-internet-marketing
				.row
					.col-xl-6
						.conference-for-internet-marketing__text
							h3 Конференция по интернет-маркетингу
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
								| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								| aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen
								| derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							p
								| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
								| officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
								| omnis iste natus error sit voluptatem accusantium doloremque
								| laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
								| veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
								| enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
								| sed quia consequuntur magni dolores eos qui ratione voluptatem
								| sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia
								| dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
								| modi tempora incidunt ut labore et dolore magnam aliquam quaerat
								| voluptatem.
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
								| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								| aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen
								| derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							p
								| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
								| officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
								| omnis iste natus error sit voluptatem accusantium doloremque
								| laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
								| veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
								| enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
								| sed quia consequuntur magni dolores eos qui ratione voluptatem
								| sequi nesciunt.
							.conference-for-internet-marketing__text-button.hidden-text-button
								button(type="text" class="main_btn") Записаться
								a(href="#") Читать подробнее
									img(src=require("../../img/authors-online-courses__item-right-arrow.png"))
					.col-xl-6
						.conference-for-internet-marketing__img
						.row
							.col-6.col-sm-6.col-md-6.col-lg-4.col-xl-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img.jpg") class="img-fluid")
							.col-6.col-sm-6.col-md-6.col-lg-4.col-xl-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img2.jpg") class="img-fluid")
							.col-6.col-sm-6.col-md-6.col-lg-4.col-xl-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img3.jpg") class="img-fluid")
							.col-6.col-sm-6.col-md-6.col-lg-4.col-xl-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img4.jpg") class="img-fluid")
							.col-6.col-sm-6.col-md-6.col-lg-4.col-xl-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img5.jpg") class="img-fluid")
							.col-6.col-sm-6.col-md-6.col-lg-4.col-xl-6.conference-for-internet-marketing__img-item
								img(src=require("../../img/conference-for-internet-marketing__img6.jpg") class="img-fluid")
							.col-12
								.conference-for-internet-marketing__text-button
									button(type="text" class="main_btn") Записаться
									a(href="#") Читать подробнее
										img(src=require("../../img/authors-online-courses__item-right-arrow.png"))

	// Секция  my services
	section.my-services
		.container
			.title
				h2
					span M
					| ои услуги
			.row
				.col-xl-4.col-lg-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-pantone.png"))
						.my-services__item-txt
							h3 Личный бренд
							p
								| Ваш опыт и знания должны работать, приносить вам деньги. Я знаю, как конвертировать ваши профессиональные навыки специалиста и сделать из вас востребованного эксперта.
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4.col-lg-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img2.png"))
						.my-services__item-txt
							h3 Разработка сайта
							p
								| Сайт/лендинг под ключ. Определим целевую аудиторию, выявим болевые точки клиента, пропишем тексты, разработаем дизайн, расставим акценты, сверстаем, протестируем и запустим в жизнь.
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4.col-lg-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img3.png"))
						.my-services__item-txt
							h3 Видео продакшн
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4.col-lg-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img4.png"))
						.my-services__item-txt
							h3
								| Разработка торговой марки и
								| выведение ее на рынок
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4.col-lg-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img5.png"))
						.my-services__item-txt
							h3
								| Организация и проведение
								| бизнес события
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))

				.col-xl-4.col-lg-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img6.png"))
						.my-services__item-txt
							h3
								| Разработка корпоративного портала
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4.col-lg-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img7.png"))
						.my-services__item-txt
							h3
								| Запуск страницы в Instagram
								| и ее ведение
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4.col-lg-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img8.png"))
						.my-services__item-txt
							h3
								| Запуск страницы в Fasebook
								| и ее ведение
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
				.col-xl-4.col-lg-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/my-services__item-img9.png"))
						.my-services__item-txt
							h3
								| Запуск канала в You tube
								| и его ведение
							p
								| Нужен фильм о компании, видео на you tube, видео на сайт, видеоотзыв, интервью с владельцем или поставщиками, видео обращение к клиенту. Разработаем сценарий, подберем актеров, предложим место съемки, все снимем и смонтируем. Видеоконтент  не только информирует, он еще и продает. Будьте в тренде!
						a(href="#") Читать подробнее
							img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
	// Секция become a member of my team
	section.become-a-member-of-my-team.intermediate
		.container
			.title
				h2
					span X
					| очешь стать членом моей команды?
				p
					| Вы маркетолог, графический, веб-дизайнер, smm-специалист, таргетолог, копирайтер, видеооператор, фотограф.
					br
					| Хотите работать в маркетинге, помогать компаниям/личным брендам стать известными,
					br
					| капитализировать их имена в составе моей команды?
					br
					span Введите свои данные и присоединяйтесь к команде профессионалов!
			.intermediate_wrap
				form
					.row
						.intermediate_item.col-xl-4.col-lg-4.col-md-6.col-sm-12
							.input_wrap
								i.fa.fa-check
								input(name='name', type='text', placeholder='Введите ваше имя')
						.intermediate_item.col-xl-4.col-lg-4.col-md-6.col-sm-12
							.input_wrap
								i.fa.fa-check
								input(name='email', type='email', placeholder='Введите ваш e-mail')
						.intermediate_item.col-xl-4.col-lg-4.col-md-6.col-sm-12
							.input_wrap
								i.fa.fa-check
								input(name='phone_mask', type='tel', class="mask", placeholder="+38(___) ___-__-__")
						input(type='hidden', name='form_name', value='')
						input(type='hidden', name='form_type', value='normal')
						.intermediate_item.col-xl-4.col-lg-8.col-md-8.col-sm-12
							input(type='submit', value='Стать частью команды', class='main_btn')
	// Секция  Reviews of my clients
	section.reviews-of-my-clients
		.container
			.title
				h2
					span О
					| тзывы моих клиентов
			.reviews-of-my-clients__slider
				.row
					.owl-carousel.owl-theme
						.col-12
							.item
								.reviews-of-my-clients__slider-img
									iframe(width="100%" src="https://www.youtube.com/embed/EkjHRkX5lZA?showinfo=0" frameborder="0" allowfullscreen)
								p.reviews-of-my-clients__slider-title Анна Черики
								p Президент компании «Черики ИНК»
						.col-12
							.item
								.reviews-of-my-clients__slider-img
									iframe(width="100%" src="https://www.youtube.com/embed/EkjHRkX5lZA?showinfo=0" frameborder="0" allowfullscreen)
								p.reviews-of-my-clients__slider-title Максим Билк
								p Сооснователь «Компания МИСТ»
						.col-12
							.item
								.reviews-of-my-clients__slider-img
									iframe(width="100%" src="https://www.youtube.com/embed/EkjHRkX5lZA?showinfo=0" frameborder="0" allowfullscreen)
								p.reviews-of-my-clients__slider-title Анна Черики
								p Президент компании «Черики ИНК»
						.col-12
							.item
								.reviews-of-my-clients__slider-img
									iframe(width="100%" src="https://www.youtube.com/embed/EkjHRkX5lZA?showinfo=0" frameborder="0" allowfullscreen)
								p.reviews-of-my-clients__slider-title Максим Билк
								p Сооснователь «Компания МИСТ»
	// Секция  My clients
	section.my-clients
		.container
			.title
				h2
					span М
					| ои клиенты
			.my-clients__slider
				.row
					.owl-carousel.owl-theme
						.col-12
							.item
								.my-clients__slider__slider-img
									img(src=require("../../img/my-clients__slider__slider-img.png"))
								p.my-clients__slider__slider-title OOO «SEGA»

								p
									| Lorem ipsum dolor sit amet, consectetur adip
									| sicing elit, sed do eiusmod tempor incididunt
									| ut labore et dolore magna aliqua.
								a(href="#") Читать подробнее
									img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
						.col-12
							.item
								.my-clients__slider__slider-img
									img(src=require("../../img/my-clients__slider__slider-img2.png"))
								p.my-clients__slider__slider-title OOO «Gasin»
								p
									| Lorem ipsum dolor sit amet, consectetur adip
									| sicing elit, sed do eiusmod tempor incididunt
									| ut labore et dolore magna aliqua.
								a(href="#") Читать подробнее
									img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
						.col-12
							.item
								.my-clients__slider__slider-img
									img(src=require("../../img/my-clients__slider__slider-img.png"))
								p.my-clients__slider__slider-title OOO «SEGA»

								p
									| Lorem ipsum dolor sit amet, consectetur adip
									| sicing elit, sed do eiusmod tempor incididunt
									| ut labore et dolore magna aliqua.
								a(href="#") Читать подробнее
									img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
						.col-12
							.item
								.my-clients__slider__slider-img
									img(src=require("../../img/my-clients__slider__slider-img2.png"))
								p.my-clients__slider__slider-title OOO «Gasin»
								p
									| Lorem ipsum dolor sit amet, consectetur adip
									| sicing elit, sed do eiusmod tempor incididunt
									| ut labore et dolore magna aliqua.
								a(href="#") Читать подробнее
									img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
	// Секция  Upcoming events
	section.upcoming-events
		.container
			.title
				h2
					span Б
					| лижайшие события
			.upcoming-events__items
				.row
					.col-xl-6.col-12
						.upcoming-events__item-img
							img(src=require("../../img/upcoming-events__item-img.jpg"))
					.col-xl-6.col-12
						.upcoming-events__item-txt
							h3
								| 1-2 сентября 2017 года состоится конференция по
								| интернет-маркетингу
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								| eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
								| ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								| aliquip ex ea commodo consequat. Duis aute irure dolor in reprehend
								| erit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							p
								| Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
								| officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
								| omnis iste natus error sit voluptatem accusantium doloremque
								| laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
								| veritatis et quasi architecto beatae vitae dicta sunt explicabo.
							.row
								.col-6
									a(href="#" class="main_btn") Принять участие
	// Секция  Recent Blog Posts
	section.recent-blog-posts
		.container
			.title
				h2
					span П
					| оследние записи в блоге
			.recent-blog-posts__items
				.row
					.col-12.col-lg-6
						.recent-blog-posts__item
							.recent-blog-posts__item-img
								img(src=require("../../img/recent-blog-posts__item-img.jpg") class="img-fluid")
							.recent-blog-posts__item-txt
								h3
									| 1-2 сентября 2017 года состоится конференция по
									| интернет-маркетингу
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									| sed do eiusmod tempor incididunt ut labore et dolore magna
								a(href="#") Читать подробнее
									img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
					.col-12.col-lg-6
						.recent-blog-posts__item
							.recent-blog-posts__item-img
								img(src=require("../../img/recent-blog-posts__item-img2.jpg") class="img-fluid")
							.recent-blog-posts__item-txt
								h3
									| 1-2 сентября 2017 года состоится конференция по
									| интернет-маркетингу
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit,
									| sed do eiusmod tempor incididunt ut labore et dolore magna
								a(href="#") Читать подробнее
									img(src=require("../../img/authors-online-courses__item-right-arrow-orange.png"))
	// Секция become a member of my team
	section.become-a-member-of-my-team.intermediate.any-questions
		.container
			.title
				h2
					span П
					| оявились вопросы?
				p
					span Оставьте свои данные и мы вам перезвоним.
			.intermediate_wrap
				form
					.row
						.intermediate_item.col-xl-4.col-lg-4.col-md-4.col-sm-12.submit
							.input_wrap
								i.fa.fa-check
								input(name='name', type='text', placeholder='Введите ваше имя')
						.intermediate_item.col-xl-4.col-lg-4.col-md-4.col-sm-12.submit
							.input_wrap
								i.fa.fa-check
								input(name='phone_mask', type='text', class="mask", placeholder="+38(___) ___-__-__")
						input(type='hidden', name='form_name', value='')
						input(type='hidden', name='form_type', value='normal')
						.intermediate_item.col-xl-4.col-lg-4.col-md-4.col-sm-12.submit
							input(type='submit', value='Перезвонить мне', class='main_btn')
	// Секция .social
	section.social
		.container
			p.social__title
				| Подписывайтесь на мой инстаграм или страничку в FB, читайте Telegram.
				br
				| Вы всегда будете в курсе планируемых мастер-классов, тренингов, интересных событий в маркетинге,
				br
				| продажах и бизнес-тусовке.
			.social__links
				a(href="#")
					img(src=require("../../img/instagram.png"))
				a(href="#")
					img(src=require("../../img/facebook.png"))
				a(href="#")
					img(src=require("../../img/youtube.png"))
				a(href="#")
					img(src=require("../../img/vk.png"))




