extends ../base
block title
	| Blog page
block header
	.top-shares
		.container
			.top-shares__wrap
				.top-shares__txt
					.top-shares__txt-inner
						a(href="#")
							img(src=require("../../img/close-ultra-thin.png"))
						p
							| 29-31 ОКТЯБРЯ 2017
							span «АНАТОМИЯ ПРОДАЖ В ИНТЕРНЕТЕ»
					button(type="text" class="scroll_to" data-scroll="upcoming-events") Принять участие

	header(class="header")
		.container
			.header-wrap
				.header__logo
					a(href="/" class="logo" title="Логотип")
						img(src=require("../../img/logo-bize.png"))
				nav.header__nav
					ul
						-var links = [{title:'Авторские курсы', href:'#'},{title:'ОМ в аренду', href:'#'},{title:'Услуги', href:'#'},{title:'Отзывы', href:'#'}, {title: 'Блог', href:'#'}];
						each i in links
							li
								a(href=i.href)= i.title
				div
					a(class="header_tell" href="tel:+380988608211")
						i.fa.fa-phone
						|
						span +38(098)
						|  860-82-11
block main
	// скрытая ссылка для вызова модального окна ,когда уходит посетитель
	a.hide-link-are-you-leaving.open-popup-link(data-effect="mfp-zoom-in" href="#popup4")
	// секция practical-course
	section.practical-course
		.container
			.practical-course__title
				h1 Практический онлайн курс:
					br
					span «Бизнес СТАРТ за 60 дней»
				.practical-course__title-divider
			.practical-course__txt
				p
					| 9 недель глубокого погружения, построения и развития собственного бизнеса
					| для владельцев маленьких компаний, экспертов, фрилансеров и консультантов,
					| которые хотят выйти на новый уровень развития бизнеса и получить постоянный
					| поток клиентов.
					|
			.practical-course__items
				.row
					.col-xl-4
						.practical-course__item
							.practical-course__item-img
								img(src=require("../../img/practical-course__item-img.png"))
							.practical-course__item-txt
								span Удобный формат
					.col-xl-4
						.practical-course__item
							.practical-course__item-img
								img(src=require("../../img/practical-course__item-img2.png"))
							.practical-course__item-txt
								span Поддержка куратора
					.col-xl-4
						.practical-course__item
							.practical-course__item-img
								img(src=require("../../img/practical-course__item-img3.png"))
							.practical-course__item-txt
								span Обучение на вашем бизнесе
			.practical-course__btns
				.practical-course__buy-course
					button(type="button" class="main_btn_green") Купить курс сейчас
					p
						| * Начало обучения 15 января 2018 г.
				.practical-course__first-three-lessons
					button(type="button" class="main_btn_transparent")
						| Посетить первых три занятия за
						|
						span  690 грн.
						|  59 грн.
			.practical-course__bot-link
				a(href="#") Скачать программу курса
					i.fa.fa-download
	//Секция what-you-get
	section.who-am-i.what-you-get
		.container
			.title__green
				h2
					| Что вы получите пройдя онлайн курс?
				.title__green-divider
				p
					| Результаты, которые  ожидают вас через 60 дней.
			.row
				.who-am-i__photo.col-xl-6.push-xl-6
					img(src=require("../../img/what-you-get__img.jpg"))
				.who-am-i__txt-wrap.col-xl-6.pull-xl-6
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__framework.png"))
						.who-am-i__txt
							p Шаг за шагом создадите каркас своего бизнеса.
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__list.png"))
						.who-am-i__txt
							p
								| Разработаете пошаговый план действий на ближайшие
								| 6 месяцев.
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__browser.png"))
						.who-am-i__txt
							p
								| Поймете суть маркетинга, он станет для вас не абстракт-
								| ной бизнес дисциплиной, а понятным и применимым
								| набором инструментов.
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__customer-question.png"))
						.who-am-i__txt
							p Определите портрет своего клиента.
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__castle.png"))
						.who-am-i__txt
							p
								| Сформулируете свое торговое предложение, отличное
								| от конкурентов.
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__browser2.png"))
						.who-am-i__txt
							p
								| Разработаете лендинг, напишите продающие тексты на
								| нем.
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__share.png"))
						.who-am-i__txt
							p
								| Создадите страницы в соцсетях FB и Instagram.
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__megaphone.png"))
						.who-am-i__txt
							p
								| Запустите свою первую рекламную кампанию.
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__bag.png"))
						.who-am-i__txt
							p
								| Совершите первые продажи.
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/results-that-expect-you__increase.png"))
						.who-am-i__txt
							p
								| Продолжите действовать, начнете развивать свой
								| бизнес системно.
	// Секция  business-start
	section.my-services
		.container
			.title__green
				h2
					| Вам стоит купить онлайн-тренинг «Бизнес СТАРТ за 60 дней!», если Вы:
				.title__green-divider
			.row
				.col-xl-4.col-lg-6.col-md-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/business-start__img.png"))
						.my-services__item-txt
							h3 СТАРТАПЕР,
							p
								| только начинаете свой путь предпринимателя и не знаете с чего начать.
				.col-xl-4.col-lg-6.col-md-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/business-start__img2.png"))
						.my-services__item-txt
							h3 ПРЕДПРИНИМАТЕЛЬ,
							p
								| уже имеете свой бизнес, но столкнулись с волнообразностью приходящих заказов, недостаточным их количеством для поддержания бизнеса.
				.col-xl-4.col-lg-6.col-md-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/business-start__img3.png"))
						.my-services__item-txt
							h3 ФРИЛАНСЕР,
							p
								| нет роста,  или продаете, или обслуживаете заказ. Хотите более стабильный доход.
				.col-xl-4.col-lg-6.col-md-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/business-start__img4.png"))
						.my-services__item-txt
							h3
								| ЭКСПЕРТ,
							p
								| давно задумываетесь о том, чтобы монетизировать свои знания, ждали подходящего момента.

				.col-xl-4.col-lg-6.col-md-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/business-start__img5.png"))
						.my-services__item-txt
							h3
								| КОНСУЛЬТАНТ,
							p
								| занимаетесь частной практикой, и уже решили вывести свой проект на новый, более высокий уровень.
				.col-xl-4.col-lg-6.col-md-6
					.my-services__item
						.my-services__item-img
							img(src=require("../../img/business-start__img6.png"))
						.my-services__item-txt
							h3
								| МАРКЕТОЛОГ,
							p
								| только что закончили ВУЗ или уже начали свою трудовую деятельность, и оказалось, что теория сильно отличается от
								| практики.
	// Секция information-block-green
	section.information-block-green
		.container
			.title__green
				h2
					| На основе 15-летнего опыта  в маркетинге и 7-летнего опыта
					br
					| в собственном бизнесе я, Алена Дружинина, разработала курс
					br
					span «Бизнес СТАРТ за 60 дней»
				.title__green-divider
				p
					| Это практический курс, цель которого — за 2 месяца с нуля создать ваш бизнес и запустить его.
					| Если бизнес у вас уже есть, отладить,  систематизировать и перезапустить его.
			.information-block-green__btn
				button(type="button" class="main_btn_transparent")
					| Посетить первых три занятия за
					|
					span  690 грн.
					|  59 грн.
				span * Онлайн курс начнется 15 января 2018 г.
	// Секция step-by-step-creation-of-business
	section.step-by-step-creation-of-business
		.container
			.title__green
				h2
					| Только практика, поэтапное создание бизнеса, реальные знания
				.title__green-divider
				p
					| Через 2 месяца вы сможете по полученной схеме запустить столько бизнесов,
					br
					| сколько вам будет необходимо.
			.step-by-step-creation-of-business__items
				.row
					.col-xl-3.col-lg-4.col-md-6.col-sm-6
						.step-by-step-creation-of-business__item
							.step-by-step-creation-of-business__item-img
								.step-by-step-creation-of-business__item-img-number
									| 60
							.step-by-step-creation-of-business__item-txt
								p
									| дней глубокой проработки вашего
									| существующего или нового бизнеса
					.col-xl-3.col-lg-4.col-md-6.col-sm-6
						.step-by-step-creation-of-business__item
							.step-by-step-creation-of-business__item-img
								.step-by-step-creation-of-business__item-img-number
									| 27
							.step-by-step-creation-of-business__item-txt
								p
									| видеоуроков
					.col-xl-3.col-lg-4.col-md-6.col-sm-6
						.step-by-step-creation-of-business__item
							.step-by-step-creation-of-business__item-img
								.step-by-step-creation-of-business__item-img-number
									| 20
							.step-by-step-creation-of-business__item-txt
								p
									| шаблонов
					.col-xl-3.col-lg-4.col-md-6.col-sm-6
						.step-by-step-creation-of-business__item
							.step-by-step-creation-of-business__item-img
								.step-by-step-creation-of-business__item-img-number
									| 10
							.step-by-step-creation-of-business__item-txt
								p
									| презентаций
					.col-xl-3.col-lg-4.col-md-6.col-sm-6
						.step-by-step-creation-of-business__item
							.step-by-step-creation-of-business__item-img.turn-over
								.step-by-step-creation-of-business__item-img-number
									| 24
							.step-by-step-creation-of-business__item-txt
								p
									| домашних задания
					.col-xl-3.col-lg-4.col-md-6.col-sm-6
						.step-by-step-creation-of-business__item
							.step-by-step-creation-of-business__item-img.turn-over
								.step-by-step-creation-of-business__item-img-number
									| 2
							.step-by-step-creation-of-business__item-txt
								p
									| воркшопа, защита проекта
									| перед участниками группы
									| и ведущим тренинга
					.col-xl-3.col-lg-4.col-md-6.col-sm-6
						.step-by-step-creation-of-business__item
							.step-by-step-creation-of-business__item-img.turn-over
								.step-by-step-creation-of-business__item-img-number
									| 2
							.step-by-step-creation-of-business__item-txt
								p
									| вебинара
					.col-xl-3.col-lg-4.col-md-6.col-sm-6
						.step-by-step-creation-of-business__item
							.step-by-step-creation-of-business__item-img.turn-over
								.step-by-step-creation-of-business__item-img-number
									| 1
							.step-by-step-creation-of-business__item-txt
								p
									| личная консультация, во время
									| курса или после завершения,
									| в течение 1 месяца
	// Секция real-knowledge
	section.real-knowledge
		.container
			.title__green
				h2
					| Практический курс для тех, кому нужны не корочки,
					br
					| A РЕАЛЬНЫЕ ЗНАНИЯ!
				.title__green-divider
			.real-knowledge__items
				.row
					.col-lg-4.col-md-6.col-sm-6
						.real-knowledge__item
							.real-knowledge__item-img
								img(src=require("../../img/real-knowledge__item-img.png"))
							.real-knowledge__item-txt
								p
									| Комфортный формат обучения
					.col-lg-4.col-md-6.col-sm-6
						.real-knowledge__item
							.real-knowledge__item-img
								img(src=require("../../img/real-knowledge__item-img2.png"))
							.real-knowledge__item-txt
								p
									| 99% практика, 1% теория
					.col-lg-4.col-md-6.col-sm-6
						.real-knowledge__item
							.real-knowledge__item-img
								img(src=require("../../img/real-knowledge__item-img3.png"))
							.real-knowledge__item-txt
								p
									| Преподаватели – практикующие
									| предприниматели
					.col-lg-4.col-md-6.col-sm-6
						.real-knowledge__item
							.real-knowledge__item-img
								img(src=require("../../img/real-knowledge__item-img4.png"))
							.real-knowledge__item-txt
								p
									| Ориентир на студента курса
					.col-lg-4.col-md-6.col-sm-6
						.real-knowledge__item
							.real-knowledge__item-img
								img(src=require("../../img/real-knowledge__item-img5.png"))
							.real-knowledge__item-txt
								p
									| Личный бизнес-тренер на
									| 90 дней
					.col-lg-4.col-md-6.col-sm-6
						.real-knowledge__item
							.real-knowledge__item-img
								img(src=require("../../img/real-knowledge__item-img6.png"))
							.real-knowledge__item-txt
								p
									| В процессе обучения вы
									| создаете реальный бизнес
	// Секция how-to-open-a-business
	section.how-to-open-a-business
		.container
			.title__green
				h2
					| Как открыть свой бизнес и не прогореть?
				.title__green-divider
				p
					| Этот вопрос волнует каждого, кто делает свой первый шаг по дороге предпринимательства.
			.how-to-open-a-business__items
				.row
					.col-xl-5
						.how-to-open-a-business__item-img
							img(src=require("../../img/how-to-open-a-business__item-img.jpg"))
					.col-xl-7
						.how-to-open-a-business__item-txt
							h3 Привет! Меня зовут Алена Дружинина.
							p
								| Я маркетолог и предприниматель. На своем опыте знаю, что такое построить бизнес
								| с нуля.
							p
								| Знаю, как создавать компанию, когда тебя никто не знает, а в кармане нет
								| свободных 10-20 000 долларов для старта. Когда считаешь каждую копейку.
							p
								| Знаю, когда на эмоциях заходишь в рынок, делаешь лендинг,  запускаешь рекламу,
								| а клиенты не торопятся купить твой товар. Ищешь в интернете любую полезную
								| информацию, которая подскажет и поможет заработать уже сегодня, а не работать
								| на формирование лояльности и узнаваемости бренда в будущем.
							p
								| Деньги нужны сразу, обороты нужны сразу, клиенты нужны сразу. А где их взять?
								| Ответы на эти вопросы я искала сама, потратила не один десяток долларов на
								| эксперименты.
							p
								| Вы можете пойти той же дорогой что и я, самостоятельно  искать эффективные
								| инструменты, а можете воспользоваться моим опытом, сделать инвестицию в свой
								| бизнес и пройти обучение на тренинге
								|
								span  «Бизнес СТАРТ за 60 дней».
							a(href="#") Скачать программу тренинга «Бизнес СТАРТ за 60 дней»
								i.fa.fa-download
	// Секция earn-in-60-days
	section.earn-in-60-days
		.container
			.title__green
				h2
					| Что позволит вам зарабатывать уже через 60 дней?
				.title__green-divider
				p
					| Какой багаж вы соберете и унесете с собой по окончании курсов?
			.title__green__items
				.row
					.col-xl-4
						.title__green__item-img
							img(src=require("../../img/title__green__item-img.jpg"))
					.col-xl-8
						.title__green__item-txt
							.title__green__item-txt-group
								.title__green__item-txt-group-big-num
									| 1
								.title__green__item-txt-group-description
									p
										b Готовый лендинг с профессиональным дизайном
										br
										|
										| и настроенной рекламной кампанией в социальной сети Facebook.
							.title__green__item-txt-group
								.title__green__item-txt-group-big-num
									| 2
								.title__green__item-txt-group-description
									p
										b Набор эффективных инструментов
										br
										|
										| 30+ документов, презентаций, чек-листов, инструкций и шаблонов
										| Все, что нужно для удачного старта и повтора действий при развитии бизнеса.
							.title__green__item-txt-group
								.title__green__item-txt-group-big-num
									| 3
								.title__green__item-txt-group-description
									p
										b Записи и презентации всех занятий
										br
										|
										| В любое удобное для вас время в течение одного года вы сможете вернуться
										| к просмотренным урокам и восстановить в памяти пройденный материал.
	// Секция what-is-par-for-the-course
	section.what-is-par-for-the-course
		.container
			.title__green
				h2
					| Сколько стоит курс «Бизнес СТАРТ за 60 дней»?
				.title__green-divider
				p
					| Меньше, чем стоит один лендинг.
					br
					| Средняя стоимость лендинга в Украине, заказанного у агентства – 9000-11000 грн.
			.table-what-is-par-for-the-course-wrap
				table.table-what-is-par-for-the-course
					thead
						tr
							th
								p.table-what-is-par-for-the-course__hidden Листайте таблицу
									img(src=require("../../img/authors-online-courses__item-right-arrow.png"))
							th.empty
							th С куратором
							th.empty
							th Без куратора
					tbody
						tr.first-date
							td
								div Цена курса при оплате до 30 ноября
								.divider
							td.empty
							td.current
								span 4500 грн.
							td.empty
							td.current
								span 1500 грн.
						tr.second-date
							td
								div Цена курса при оплате до 15 декабря
								.divider
							td.empty
							td.current
								span 5250 грн.
							td.empty
							td.current
								span 1750 грн.
						tr.third-date
							td
								div Цена курса при оплате до 30 декабря
								.divider
							td.empty
							td.current
								span 6000 грн.
							td.empty
							td.current
								span 2000 грн.
						tr.fourth-date
							td
								div Цена курса при оплате до 15 января
								.divider
							td.empty
							td.current
								span 7500 грн.
							td.empty
							td.current
								span 2500 грн.
						tr.no-border
							td
							td.empty
							td
							td.empty
							td
						tr.no-border
							td
							td.empty
							td
								button(type="button" class="main_btn_green") Купить
							td.empty
							td
								button(type="button" class="main_btn_green") Купить
	// Секция not-ready-to-buy-right-away
	section.not-ready-to-buy-right-away
		.container
			.title__green
				h2
					| Не готовы сразу купить курс?
				.title__green-divider
				p
					| Посетите 3 первых занятия и убедитесь, что обучение вам подходит.
			.not-ready-to-buy-right-away__info-txt
				p
					| Первое занятие состоится
					|
					b 15 января 2018 года,
					|
					br
					| Стоимость 1 занятия символическая – 19,90 грн. (это меньше чем чашка натурального кофе).
					br
					|
					| Чтобы посетить 3 первых занятия, просто оставьте заявку, напоминание о старте курса
					|
					br
					| вы получите за день до его начала на электронную почту.
			.not-ready-to-buy-right-away__big-btn
				button(type="button" class="main_btn_transparent")
					| Посетить первых три занятия за
					|
					span  690 грн.
					|  59 грн.
				p
					| * Онлайн курс начнется 15 января 2018 г.
	// Секция become-a-student-of-the-course
	section.become-a-student-of-the-course
		.container
			.title__green
				h2
					| Стань студентом курса «Бизнес СТАРТ за 60 дней»
				.title__green-divider
				p
					| И получи бонусы– 4 часовых вебинара от наших экспертов.
			.become-a-student-of-the-course__items
				.row
					.col-xl-6
						.become-a-student-of-the-course__item
							.become-a-student-of-the-course__item-top
								.become-a-student-of-the-course__item-top-img
									img(src=require("../../img/become-a-student-of-the-course__item-top-img.jpg"))
								.become-a-student-of-the-course__item-top-description
									.become-a-student-of-the-course__item-top-description-name
										| Илья Ман
									.become-a-student-of-the-course__item-top-divider
									dl
										dt
											| Специализация:
										dd
											| юзабилити сайта, оптимизация.
							.become-a-student-of-the-course__item-bottom
								p
									i.fa.fa-check-square-o
									| Опыт в интернет-маркетинге 9 лет;
								p
									i.fa.fa-check-square-o
									| Автор и ведущий обучающих курсов Convert Monster. Обучил 1500
									| человек разработке landing page, e-mail маркетингу и веб-
									| аналитике;
								p
									i.fa.fa-check-square-o
									| Автор единственной русскоязычной книги по разработке посадоч-
									| ных страниц «Идеальный Landing Page». Продано 1500+ экземпля-
									| ров за 35 дней;
								p
									i.fa.fa-check-square-o
									| Сертифицированный специалист Яндекс.Директ, Google AdWords,
									| Google Analytics и Яндекс.Метрики;
					.col-xl-6
						.become-a-student-of-the-course__item
							.become-a-student-of-the-course__item-top
								.become-a-student-of-the-course__item-top-img
									img(src=require("../../img/become-a-student-of-the-course__item-top-img2.jpg"))
								.become-a-student-of-the-course__item-top-description
									.become-a-student-of-the-course__item-top-description-name
										| Алиса Вайс
									.become-a-student-of-the-course__item-top-divider
									dl
										dt
											| Специализация:
										dd
											| юзабилити сайта, оптимизация.
							.become-a-student-of-the-course__item-bottom
								p
									i.fa.fa-check-square-o
									| Опыт в интернет-маркетинге 9 лет;
								p
									i.fa.fa-check-square-o
									| Автор и ведущий обучающих курсов Convert Monster. Обучил 1500
									| человек разработке landing page, e-mail маркетингу и веб-
									| аналитике;
								p
									i.fa.fa-check-square-o
									| Автор единственной русскоязычной книги по разработке посадоч-
									| ных страниц «Идеальный Landing Page». Продано 1500+ экземпля-
									| ров за 35 дней;
					.col-xl-6
						.become-a-student-of-the-course__item
							.become-a-student-of-the-course__item-top
								.become-a-student-of-the-course__item-top-img
									img(src=require("../../img/become-a-student-of-the-course__item-top-img3.jpg"))
								.become-a-student-of-the-course__item-top-description
									.become-a-student-of-the-course__item-top-description-name
										| Илья Ман
									.become-a-student-of-the-course__item-top-divider
									dl
										dt
											| Специализация:
										dd
											| юзабилити сайта, оптимизация.
							.become-a-student-of-the-course__item-bottom
								p
									i.fa.fa-check-square-o
									| Опыт в интернет-маркетинге 9 лет;
								p
									i.fa.fa-check-square-o
									| Автор и ведущий обучающих курсов Convert Monster. Обучил 1500
									| человек разработке landing page, e-mail маркетингу и веб-
									| аналитике;
								p
									i.fa.fa-check-square-o
									| Автор единственной русскоязычной книги по разработке посадоч-
									| ных страниц «Идеальный Landing Page». Продано 1500+ экземпля-
									| ров за 35 дней;
					.col-xl-6
						.become-a-student-of-the-course__item
							.become-a-student-of-the-course__item-top
								.become-a-student-of-the-course__item-top-img
									img(src=require("../../img/become-a-student-of-the-course__item-top-img4.jpg"))
								.become-a-student-of-the-course__item-top-description
									.become-a-student-of-the-course__item-top-description-name
										| Илья Ман
									.become-a-student-of-the-course__item-top-divider
									dl
										dt
											| Специализация:
										dd
											| юзабилити сайта, оптимизация.
							.become-a-student-of-the-course__item-bottom
								p
									i.fa.fa-check-square-o
									| Опыт в интернет-маркетинге 9 лет;
								p
									i.fa.fa-check-square-o
									| Автор и ведущий обучающих курсов Convert Monster. Обучил 1500
									| человек разработке landing page, e-mail маркетингу и веб-
									| аналитике;
								p
									i.fa.fa-check-square-o
									| Автор единственной русскоязычной книги по разработке посадоч-
									| ных страниц «Идеальный Landing Page». Продано 1500+ экземпля-
									| ров за 35 дней;
	//Секция what-you-get
	section.who-am-i.what-you-get
		.container
			.title__green
				h2
					| Давайте познакомится, я Алена Дружинина, Автор программы
					| «Бизнес СТАРТ за 60 дней»
				.title__green-divider
				p
					| Я построила несколько бизнесов с нуля, знаю не понаслышке:
			.row
				.who-am-i__photo.col-xl-6
					img(src=require("../../img/who-am-i__photo.jpg"))
				.who-am-i__txt-wrap.col-xl-6
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__pie-chart.png"))
						.who-am-i__txt
							p
								| как найти нишу, которая будет тебя вдохновлять;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__handshake.png"))
						.who-am-i__txt
							p
								| как из никому неизвестной компании стать VIP клиентом у
								| нескольких поставщиков сразу;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__store.png"))
						.who-am-i__txt
							p
								| как строить оптовые и розничные продажи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__networking.png"))
						.who-am-i__txt
							p
								| как делегировать часть своих ежедневных управленческих
								| функций сотрудникам;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__target.png"))
						.who-am-i__txt
							p
								| как управлять коллективом более 40 человек, как
								| мотивировать и ставить задачи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__puzzle.png"))
						.who-am-i__txt
							p
								| как найти свою команду и уйти от панибратства, когда в
								| подчинении всего 2 человека;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__browser.png"))
						.who-am-i__txt
							p
								| как разработать продающий сайт, запускать рекламные
								| кампании в интернет;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__earnings.png"))
						.who-am-i__txt
							p
								| как получать отзывы и конвертировать их в продажи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__invoice.png"))
						.who-am-i__txt
							p
								| как собирать базу клиентов и монетизировать ее;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__umbrella.png"))
						.who-am-i__txt
							p
								| как потерять десятки тысяч долларов и не опустить руки;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/built-several-businesses__steering-wheel.png"))
						.who-am-i__txt
							p
								| как из специалиста, профессионала, стать бизнесменом,
								| и при этом растить 2-х деток (мамам посвящается).


			.title__green.not-h2
				h2
					| Я даю вам 100% гарантию возврата денег в течение двух недель с момента старта курса
				.title__green-divider
				p
					| Если в течение 2 недель после доступа к материалам курса вы поняли,
					|
					br
					| что он вам не подходит, отправьте заявку на почту
					br
					|
					span support@bize.space
					br
					|
					| и мы вернем вам деньги в полном объеме.
	//  Секция you-still-think
	section.you-still-think
		.container
			.title__green
				h2
					| Всё еще думаете?
				.title__green-divider
				p
					| Посетите 3 первых занятия и убедитесь, что обучение вам подходит.
			.not-ready-to-buy-right-away__big-btn
				button(type="button" class="main_btn_transparent")
					| Посетить первых три занятия за
					|
					span  690 грн.
					|  59 грн.
				p
					| * Онлайн курс начнется 15 января 2018 г.
	// Секция .social
	section.social
		.container
			p
				| Хочу пройти обучение на курсы <<Бизнес Старт за 60 дней>> оффлайн в Харькове
			a( href="#" class="main_btn_green") Узнать детали
			p.social__title
				| Подписывайтесь на мой инстаграм или страничку в FB, читайте Telegram.
				br
				| Вы всегда будете в курсе планируемых мастер-классов, тренингов, интересных событий в маркетинге,
				br
				| продажах и бизнес-тусовке.
			.social__links
				a(href="#")
					img(src=require("../../img/instagram-green.png"))
				a(href="#")
					img(src=require("../../img/facebook-green.png"))
				a(href="#")
					img(src=require("../../img/youtube-green.png"))
				a(href="#")
					img(src=require("../../img/vk-green.png"))
			.social__phone-mail
				a(href="tel:+380988608211")
					i.fa.fa-phone
					| +38 (098)
					|
					span 860-82-11
				a(href="mailto:bize@bize.space")
					i.fa.fa-envelope
					| bize@
					|
					span bize.space
block footer
	// Секция footer
	footer.footer
		.container
			.footer__divider
			p 2017. Все права защищены
block slidebars
	div(off-canvas='id-1 left shift')
		nav.header_nav_mobile
			ul.menu
				-var obj1 = [{title:'Авторские курсы', href:'#'},{title:'ОМ в аренду', href:'#'},{title:'Услуги', href:'#'},{title:'Отзывы', href:'#'}, {title: 'Блог', href:'#'}];
				each i in obj1
					li
						a(href=i.href)= i.title
	div(off-canvas='id-2 right push')
	div(off-canvas='id-3 top overlay')
	div(off-canvas='id-4 bottom shift')


