extends ../base
block title
	| Blog page
block header
	.top-shares
		.container
			.top-shares__wrap
				.top-shares__txt
					.top-shares__txt-inner
						a(href="#")
							img(src=require("../../img/close-ultra-thin.png"))
						p
							| 29-31 ОКТЯБРЯ 2017
							span «АНАТОМИЯ ПРОДАЖ В ИНТЕРНЕТЕ»
					button(type="text" class="scroll_to" data-scroll="upcoming-events") Принять участие

	header(class="header")
		.container
			.header-wrap
				.header__logo
					a(href="/" class="logo" title="Логотип")
						img(src=require("../../img/logo-bize.png"))
				nav.header__nav
					ul
						-var links = [{title:'Авторские курсы', href:'#'},{title:'ОМ в аренду', href:'#'},{title:'Услуги', href:'#'},{title:'Отзывы', href:'#'}, {title: 'Блог', href:'#'}];
						each i in links
							li
								a(href=i.href)= i.title
				div
					a(class="header_tell" href="tel:+380988608211")
						i.fa.fa-phone
						|
						span +38(098)
						|  860-82-11
block main
	// скрытая ссылка для вызова модального окна ,когда уходит посетитель
	a.hide-link-are-you-leaving.open-popup-link(data-effect="mfp-zoom-in" href="#popup4")
	// секция practical-course
	section.practical-course
		.container
			.practical-course__title
				h1 Практический онлайн курс:
					br
					span «Бизнес СТАРТ за 60 дней»
				.practical-course__title-divider
			.practical-course__txt
				p
					| 9 недель глубокого погружения, построения и развития собственного бизнеса
					| для владельцев маленьких компаний, экспертов, фрилансеров и консультантов,
					| которые хотят выйти на новый уровень развития бизнеса и получить постоянный
					| поток клиентов.
					|
			.practical-course__items
				.row
					.col-xl-4
						.practical-course__item
							.practical-course__item-img
								img(src=require("../../img/practical-course__item-img.png"))
							.practical-course__item-txt
								span Удобный формат
					.col-xl-4
						.practical-course__item
							.practical-course__item-img
								img(src=require("../../img/practical-course__item-img2.png"))
							.practical-course__item-txt
								span Поддержка куратора
					.col-xl-4
						.practical-course__item
							.practical-course__item-img
								img(src=require("../../img/practical-course__item-img3.png"))
							.practical-course__item-txt
								span Обучение на вашем бизнесе
			.practical-course__btns
				.practical-course__buy-course
					button(type="button" class="main_btn_green") Купить курс сейчас
					p
						| * Начало обучения 15 января 2018 г.
				.practical-course__first-three-lessons
					button(type="button" class="main_btn_transparent")
						| Посетить первых три занятия за
						|
						span  690 грн.
						|  59 грн.
			.practical-course__bot-link
				a(href="#") Скачать программу курса
					i.fa.fa-download
	section.who-am-i.what-you-get
		.container
			.title__green
				h2
					| Что вы получите пройдя онлайн курс?
				.title__green-divider
				p
					| Результаты, которые  ожидают вас через 60 дней.
			.row
				.who-am-i__photo.col-xl-6.push-xl-6
					img(src=require("../../img/what-you-get__img.jpg"))
				.who-am-i__txt-wrap.col-xl-6.pull-xl-6
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-pie-chart.png"))
						.who-am-i__txt
							p как найти нишу, которая будет тебя вдохновлять;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-handshake.png"))
						.who-am-i__txt
							p как из никому неизвестной компании стать VIP клиентом у нескольких поставщиков сразу;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-store.png"))
						.who-am-i__txt
							p как строить оптовые и розничные продажи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-networking.png"))
						.who-am-i__txt
							p как делегировать часть своих ежедневных управленческих функций сотрудникам;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-target.png"))
						.who-am-i__txt
							p
								| как управлять коллективом более 40 человек, как мотивировать и ставить задачи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-puzzle.png"))
						.who-am-i__txt
							p
								| как найти свою команду и уйти от панибратства, когда в
								| подчинении всего 2 человека;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-browser.png"))
						.who-am-i__txt
							p
								| как разработать продающий сайт, запускать рекламные
								| кампании в интернет;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-steering-earnings.png"))
						.who-am-i__txt
							p
								| как получать отзывы и конвертировать их в продажи;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-invoice.png"))
						.who-am-i__txt
							p
								| как собирать базу клиентов и монетизировать ее;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-umbrella.png"))
						.who-am-i__txt
							p
								| как потерять десятки тысяч долларов и не опустить руки;
					.who-am-i__txt-item
						.who-am-i__txt-item-img
							img(src=require("../../img/who-am-i__txt-item-img-steering-wheel.png"))
						.who-am-i__txt
							p
								| как из специалиста, профессионала, стать бизнесменом,
								| и при этом растить 2-х деток (мамам посвящается).
block footer
	// Секция footer
	footer.footer
		.container
			.footer__divider
			p 2017. Все права защищены


